<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}"
>
  <head>
    <title>課題作成</title>
  </head>
  <body class="bg-gray-100">
    <div class="max-w-lg mx-auto py-8">
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        th:action="@{/tasks/store}"
        th:method="post"
        th:object="${taskForm}"
      >
        <h1 class="text-3xl font-bold text-center pb-4">課題作成</h1>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="title"
            >タイトル</label
          >
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            th:field="*{title}"
            th:classappend="${#fields.hasErrors('title')} ? 'border-red-500' : ''"
          />
          <p
            class="text-red-500"
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
          ></p>
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="description"
            >詳細</label
          >
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            th:field="*{description}"
            th:classappend="${#fields.hasErrors('title')} ? 'border-red-500' : ''"
            rows="5"
          ></textarea>
          <p
            class="text-red-500"
            th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
          ></p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            作成
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
