<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}"
>
  <head>
    <title>課題詳細</title>
  </head>
  <body class="bg-gray-100">
    <div class="max-w-lg mx-auto py-8">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-3xl font-bold text-center pb-4">課題詳細</h1>
        <table class="table-auto w-full">
          <tbody>
            <tr>
              <td class="border px-4 py-2 font-bold text-gray-600">タイトル</td>
              <td class="border px-4 py-2 text-gray-800">
                <span th:text="${task.title}"></span>
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2 font-bold text-gray-600">詳細</td>
              <td class="border px-4 py-2 text-gray-800">
                <span th:text="${task.description}"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
